<div class="fluid-container">
<h1 id="password_reset_title">Password Reset</h1>
<%= form_for(@user,url: :auth_edit) do |f|%>
<div class="form-group has-feedback">
  <%= f.label(:email) %>
  <%= f.email_field(:email,:class=>"form-control has-feedback",placeholder:"jog@blogs.com",:required=>true) %>
  <span class="form-control-feedback"></span>
</div>
  <%= f.submit('Reset password',:class=>"btn btn-primary btn-lg center-block medium-font") %>
<% end %>
</div>
