<div class="container-fluid">
<div class="row" style="background-color:#FFeeff">
  <h1 class="text-center" id="home_title">Connecting Learner Drivers To Amazing Instructors</h1>
  <div class="col-md-4">
    <%=image_tag("search.png",:class=>"center-block")%>
    <h3 class="text-center"> Find Amazing Instructors </h3>
  </div>
  <div class="col-md-4">
    <%=image_tag("car.png",:class=>"center-block")%>
    <h3 class="text-center"> Book your lessons </h3>
  </div>
  <div class="col-md-4">
    <%=image_tag("award.png", :class=>"center-block")%>
    <h3 class="text-center"> Pass your test </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8" style="margin:10px">
    <%= link_to("Start searching today",:search,id:"call_to_action_button", :class=>"btn btn-primary btn-lg center-block medium-font") %>
  </div>
  <div class="col-md-2">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Why join?</h2>
    <ul>	    
      <li class="medium-font">Use our <b>huge</b> list of instructors based in <b>London</b></li> 
      <li class="medium-font">Take advantage of <b>advanced search</b> helping you find an instructor based on:
          <ul>
            <li class="medium-font"> Pass rate </li>
            <li class="medium-font"> Years of experiance </li>
            <li class="medium-font"> Special requirements </li>
            <li class="medium-font"> Lesson prices </li>
          </ul>
      </li>
     <li class="medium-font"> Review intructor reviews before you even get in the car! </li>
   </ul>
  </div>
</div>
<div class="row">

</div>
</div>
